.contact-us-card{
    border-radius: 20px;
    border: 1px solid  #DFE0E2;
    background: linear-gradient(70deg, rgba(246, 222, 198, 0.22) -17.93%, rgba(232, 114, 212, 0.22) 36.28%, rgba(193, 144, 217, 0.22) 73.84%, rgba(162, 220, 254, 0.22) 114.18%), #FFF;
}
.faq{
    transition: max-height 0.5s ease-in-out;
}