.contact-us-card{
    border-radius: 20px;
    border: 1px solid  #DFE0E2;
    background: linear-gradient(180deg, #CDE8E5 0%, rgba(18, 74, 232, 0.7) 100%);

}
.faq{
    transition: max-height 0.5s ease-in-out;
}