.contains {
  width: 25rem !important;
}

@media (min-width: 1024px) {
  .contains {
    width: 27rem !important;
  }
}
@media (min-width: 1440px) {
  .contains {
    width: 47rem !important;
  }
}

.clicked-contains {
  max-width: 850px !important;
}

@media (min-width: 768px) {
  canvas {
    height: auto;
    width: auto;
  }
}
